@import "./vars.css";

:root {
  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      var(--vp-c-brand-1),
      var(--vp-c-brand-2));
}

/* 文档标题样式 */

.vp-doc a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.vp-doc a:hover {
  text-decoration: underline;
}

.vp-doc .table-of-contents ul {
  padding-left: 0;
}

.vp-doc .table-of-contents li {
  list-style-type: none;
}

.vp-doc .table-of-contents ul:first-child > li > a {
  font-size: 1.1em;
  font-weight: 700;
}

.vp-doc .table-of-contents a {
  color: var(--vp-c-text-1); 
  text-decoration: none;
}

.vp-doc .table-of-contents a:hover {
  text-decoration: none;
  color: var(--vp-c-text-2);  
}