.title_restorable label{
display: inline-block;
margin: 5px 0;
padding-right: 5px;
}
.manager-button {
    margin-left: auto;
}
.fa-refresh{
    font-size: 0.7em;
}
#audio_settings .flex {
    display: flex;
}
#audio_settings .flex.column {
    flex-direction: column;
}
#audio_settings .flex.column-reverse {
    flex-direction: column-reverse;
}
#audio_settings .flex.row {
    flex-direction: row;
}
#audio_settings .flex.row-reverse {
    flex-direction: row-reverse;
}

#audio_settings .flex.align-center {
    align-items: center;
}
#audio_settings .flex.justify-center {
    justify-content: center;
}
#audio_settings .flex.justify-start {
    justify-content: flex-start;
}
#audio_settings .flex.justify-end {
    justify-content: flex-end;
}
#audio_settings .flex.gap-12 {
    gap: 12px;
}
#audio_settings .btn-refresh {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
#audio_settings .audio-container .audio-mute-button-muted {
    color: red;
}
#audio_settings .audio-container {
    padding: 3px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(38, 38, 38, 0.5);
    border: 1px rgb(75, 75, 75) solid;
    border-radius: 5px;
}
#audio_settings .audio-adjust {
    padding: 10px 0px;
    display: flex;
    gap: 10px;
    align-items: center;
}
#audio_settings .audio-container .audio-player-button {
    position: relative;
    height: 2rem;
}
#audio_settings .audio-adjust .audio-player-button {
    position: relative;
    height: 1.8rem;
}
#audio_settings .audio-container>.vol {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mute-vol-wrapper {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.vertical-slider {
    width: 100px !important; 
    height: 5px !important; 
    transform: rotate(-90deg); 
    transform-origin: 50% 50%; 
    appearance: none; 
    position: absolute;
    bottom: calc(200%); 
    left: 50%; 
    transform: translateX(-50%) rotate(-90deg); 
}
.vol {
    display: none;
}

.progress-div {
    flex-grow: 1; 
    display: flex;
    align-items: center; 
}

.mute-div:hover + .vol,
.vol:hover {
    display: flex;
}
#audio_settings .audio-adjust>.playlist {
    flex-grow: 1;
}
#audio_settings .audio-adjust>.playlist>select {
    height: 100%;
    margin: 0 !important;
}

.bgm-toggle-off {
    cursor: pointer;
    opacity: 0.5;
    filter: grayscale(0.5);
    transition: opacity 0.2s ease-in-out;
}
.bgm-toggle-off:hover {
    opacity: 1;
    filter: none;
}
.bgm-toggle-on {
    cursor: pointer;
}

.ambient-toggle-off {
    cursor: pointer;
    opacity: 0.5;
    filter: grayscale(0.5);
    transition: opacity 0.2s ease-in-out;
}
.ambient-toggle-off:hover {
    opacity: 1;
    filter: none;
}
.ambient-toggle-on {
    cursor: pointer;
}

#enable_bgm,
#enable_ambient {
    display: none !important;
}
#enable_bgm:checked ~ .bgm-toggle-on,
#enable_ambient:checked ~ .ambient-toggle-on {
    display: inline-block;
}
#enable_bgm:checked ~ .bgm-toggle-off,
#enable_ambient:checked ~ .ambient-toggle-off {
    display: none;
}
#enable_bgm:not(:checked) ~ .bgm-toggle-on,
#enable_ambient:not(:checked) ~ .ambient-toggle-on {
    display: none;
}
#enable_bgm:not(:checked) ~ .bgm-toggle-off,
#enable_ambient:not(:checked) ~ .ambient-toggle-off {
    display: inline-block;
}

.audio-url-label {
    align-items: center;
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 10px;
    padding: 0 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}