<div class="script-item" id="{{id}}">
  <span class="drag-handle menu-handle">☰</span>
  <div class="script-item-name flexGrow overflow-hidden marginLeft5">{{scriptName}}</div>
  <div class="script-item-control flex-container flexnowrap alignItemsCenter">
    <label for="script-item-toggle" class="checkbox flex-container">
      <input type="checkbox" class="toggle-script" />
      <span class="script-toggle-off fa-solid fa-toggle-off"></span>
      <span class="script-toggle-on fa-solid fa-toggle-on"></span>
    </label>
    <div class="script-info menu_button interactable">
      <i class="fa-solid fa-info-circle"></i>
    </div>
    <div class="edit-script menu_button interactable">
      <i class="fa-solid fa-pencil"></i>
    </div>
    <div class="{{moveTo}} script-storage-location menu_button interactable">
      <i class="fa-solid {{faIcon}}"></i>
    </div>
    <div class="export-script menu_button interactable">
      <i class="fa-solid fa-file-export"></i>
    </div>
    <div class="delete-script menu_button interactable">
      <i class="fa-solid fa-trash"></i>
    </div>
  </div>
</div>
