<div>
    <h3>
        {{title}}
    </h3>
    <div class="flex-container flexFlowColumn wide100p padding10 justifyLeft">
        <label for="{{prefix}}-target-global">
            <input type="radio" name="{{prefix}}-target" id="{{prefix}}-target-global" value="global" checked />
            <span>
                {{globalLabel}}
            </span>
        </label>
        <label for="{{prefix}}-target-character">
            <input type="radio" name="{{prefix}}-target" id="{{prefix}}-target-character" value="character" />
            <span>
                {{characterLabel}}
            </span>
        </label>
    </div>
</div>