<div
  class="extension-content-item box-container flexFlowColumn prompt-view-entry-container"
  style="align-items: flex-start"
>
  <div
    class="prompt-view-entry-header flex-container spaceBetween alignItemsCenter width100p"
    style="cursor: pointer"
  >
    <div class="flex flexFlowColumn">
      <div class="settings-title-text">提示词查看器</div>
      <div class="settings-title-description">查看提示词发送情况</div>
    </div>
    <div class="TavernHelper-button" id="open-prompt-view">打开</div>
  </div>
</div>